body {
  font-family: 'Open Sans', sans-serif !important;
}
header {
  width: 100%;
  background-color: #1a2432;
}
.row {
  max-width: 1140px;
  margin: auto !important;
}
.header-contact {
  background-color: #4273ae;
  display: flex;
  justify-content: center;
}
.header-phone, .header-email {
  color: #ffffff;
  padding: 13px 10px 11px 38px;
  font-size: 15.2px;
  background-repeat: no-repeat;
}
.header-phone a, .header-email a, .header-phone a:hover, .header-email a:hover{
  color: inherit;
  text-decoration: none;
}
.header-email {
  background-image: url(../assets/email.png);
  background-position: 15px 21px;
  border-right: 1px solid #618cbf;
  width: 163px;
}
.header-phone {
  background-image: url(../assets/phone.png);
  background-position: 17px 18px;
  padding-left: 39px;
  width: 170px;
}
.header-search {
  padding: 10px;
  background-color: #000000;
  width: 46px;
  height: 46px;
  vertical-align: top;
  background-image: url(../assets/search.png);
  background-repeat: no-repeat;
  background-position: 58% 50%;
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 106px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
  color: #ffffff;
}
nav ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #4272ae;
  height: 4px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
.breadcrumbs ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  border-top: 1px dotted #fff;
  margin-top: 80px;
  font-size: 14px;
  padding-top: 5px;
}
.breadcrumbs li::before{
  content: url(../assets/breadcrumb-arrow.png);
  float: left;
  width: 1.4em;
  text-align: center;
}
.breadcrumbs li:first-child::before{
  display: none;
}
.breadcrumbs a {
  color: #505c68;
  text-decoration: none;
}
.active-page a, .active-page a:hover, .breadcrumbs a:hover{
  color: #fff;
}
#contact-map{
  width: calc(50% + 570px);
  margin-left: calc(50% - 570px);
  min-height: 1000px;
  background-image: url(../assets/map-back.png);
  background-repeat: no-repeat;
  background-position: 87px -128px;
  position: relative;
}
#contact-map h3{
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  display: inline;
  text-align: center;
}
#contact-map h3::before{
  content:"\2022";
  font-size: 35px;
  line-height: 15px;
  vertical-align: middle;
}
#msk-map{
  position: absolute;
  width: 207px;
  height: 228px;
  top: 428px;
  left: 210px;
  background-image: url(../assets/msk-back.png);
  z-index: 2;
}
#msk-map h3{
  position: relative;
  top: 55px;
  left: 78px;
}
#spb-map{
  position: absolute;
  width: 252px;
  height: 231px;
  top: 273px;
  left: 230px;
  background-image: url(../assets/spb-back.png);
  z-index: 1;
}
#spb-map h3{
  position: relative;
  top: 70px;
  left: 76px;
}
#klg-map{
  position: absolute;
  width: 180px;
  height: 130px;
  top: 286px;
  left: 38px;
  background-image: url(../assets/klg-back.png);
  z-index: 3;
}
#klg-map h3{
  position: relative;
  top: 59px;
  left: 101px;
}
.hidden-map {
  background-image: none !important;
}
#info-map{
  width: 460px;
  height: 636px;
  background: #fff;
  position: absolute;
  top: 264px;
  left: 617px;
  border-radius: 7px;
}

/*Footer*/
footer {
  width: 100%;
  background: #0874b2;
}
footer .row {
  padding: 45px 0;
}
.footer-our-logo, .footer-stonex-logo {
  align-items: baseline;
  display: flex;
}
.footer-our-logo img, .footer-stonex-logo img {
  vertical-align: baseline;
}
.footer-about hr {
  border-top: 1px solid #fff;
  width: 87%;
  margin-left: 0;
  margin-top: 5px;
}
.footer-social hr {
  border-top: 1px solid #fff;
  margin-right: 0;
  margin-top: 5px;
}
footer h4 {
  color: #fff;
  font-size: 16px;
}
footer p {
  color: #fff;
  font-size: 14px;
  margin-top: 19px;
  line-height: 22px;
  width: 95%;
}
.footer-about span {
  color: #182532;
}
.footer-about a {
  color: #182532;
}
.footer-about a:hover {
  color: #fff;
  text-decoration: none;
}
.footer-social {
  padding-left: 38px !important;
}
.social-block {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 40px;
}
.social-block a:hover {
  filter: grayscale(100%);
}
.footer-social p {
  font-size: 11px;
}
.footer-stick {
  margin-left: 23px;
}

/*Responsive*/
@media (max-width: 1200px){
  .container-fluid{
   padding: 0 !important;
 }
  .header-logo {
   padding-top: 40px;
   }
  nav ul{
   margin-top: 146px;
  }
  .footer-stick {
    display: none;
  }
  .footer-our-logo, .footer-stonex-logo {
    justify-content: center;
  }
  .footer-about {
    text-align: justify;
    padding: 0 50px !important;
  }
  .footer-social {
    padding: 0 50px !important;
  }
  .footer-about hr, .footer-about p {
    width: 100%;
  }
  .social-block {
    justify-content: space-evenly;
  }
}
@media (max-width: 991px){
  nav ul{
   margin-top: 75px;
   padding: 0 20px;
  }
  .header-logo {
    text-align: center;
  }
  #contact-map {
    margin-left: 0;
    background-position: left -128px;;
    width: 100%
  }
  #info-map{
    top: 670px;
    left: calc(50% - 230px);
  }
  #klg-map{
    left: -52px;
  }
  #spb-map{
    left: 140px;
  }
  #msk-map{
    left: 125px;
  }
}

@media (max-width: 576px){
  .footer-about {
    text-align: justify;
    padding: 0 20px !important;
  }
  .footer-social {
    padding: 0 20px !important;
  }
  .footer-stonex-logo{
    margin: 30px 0;
  }
}
@media (max-width: 400px){
  .main-image{
    background-size: 535px;
    background-position: top;
  }
  nav ul {
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }
  nav li {
    margin-bottom: 10px;
  }
}
