.main-image, .product-header {
  background-image: url(../assets/s700a-header-background.png);
}
.main-image {
  background-image: url(../assets/s700a-main-image.png);
  height: 1405px;
}
.video-section {
  background: url(../assets/s700a-video-back.png) no-repeat center;
}
.video-section .row {
  background: url(../assets/s700a-video-back-product.png) no-repeat 650px bottom
}
.price-block {
  top: -680px;
}
.arrow {
  display: none;
}
.photogallery {
  background: url(../assets/s700a-photoback.png),#1a2632;
  background-position: 30% center;
  background-repeat: no-repeat;
}
.photo-title {
  color: #fff;
}
.section-title {
  border-top: 1px dotted #fff;
}
.main-image h1 {
  margin-top: calc(50% - 25px);
}
#kit {
  text-align: center;
  margin-top: 40px;
  min-height: 600px;
  padding: 6px 12px;
  position: relative
}
#kit:before {
  background: url(/images/s700a/kit-back.png) no-repeat center 8px;
}
.kit-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 440px;
  margin-bottom: 55px;
  flex-wrap: wrap;
}
.kit-detail {
    display: block;
}

@media (max-width:991px) {
  #kit::before {
    background: url(/images/s700a/kit-back.png) no-repeat center;
    opacity: .1
  }
  .kit-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "kit-detail kit-detail" "kit-detail kit-detail" "kit-detail kit-detail";
    margin: 0px;
  }
}
