
body {
  font-family: 'Open Sans', sans-serif !important;
}
header {
  width: 100%;
  height: 1460px;
  background-image: url(../assets/header-background.png);
  background-position: center;
  background-position: -10px 0px;
}
.row {
  width: 1140px;
  margin: auto !important;
}
.header-contact {
  background-color: #4273ae;
  display: flex;
}
.header-phone, .header-email {
  color: #ffffff;
  padding: 13px 10px 11px 38px;
  font-size: 15.2px;
  background-repeat: no-repeat;
}
.header-email {
  background-image: url(../assets/email.png);
  background-position: 15px 21px;
  border-right: 1px solid #618cbf;
  width: 163px;
}
.header-phone {
  background-image: url(../assets/phone.png);
  background-position: 17px 18px;
  padding-left: 39px;
  width: 170px;
}
.header-search {
  padding: 10px;
  background-color: #000000;
  width: 46px;
  height: 46px;
  vertical-align: top;
  background-image: url(../assets/search.png);
  background-repeat: no-repeat;
  background-position: 58% 50%;
  cursor: pointer;
}
.header-logo {
  text-align: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 16%;
}

/* stroke */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
  color: #ffffff;
}
nav ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #4272ae;
  height: 4px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
.main-image {
  text-align: center;
  background-image: url("../assets/main-image.png");
  height: 884px;
  background-position: center;
  background-repeat: no-repeat;
}
.main-image h1 {
  margin-top: calc(50% - 150px);
  font-size: 86px;
  font-weight: bold;
  color:#fff;
  line-height: 80px;
}
.price-block {
  width: 400px;
  height: 433px;
  position: relative;
  left: calc(50% - 572px);
  background: #007bc0;
  top: -207px;
  box-shadow: 6px 6px 15px -1px #6a6a6a, -6px 6px 15px -1px #6a6a6a;
  padding: 38px 58px;
}
.price-images {
  display: flex;
  justify-content: space-around;
}
.price-block hr {
  margin-top: 31px;
  border-top: 1px solid
  rgba(255, 255, 255, 0.5);
}
.price-block h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 2px;
}
#price {
  color: #fff;
  font-size: 35px;
}
.callback {
  margin-top: 38px;
}
.callback-button {
  text-transform: uppercase;
  background-color: #1a2432 !important;
  border-color: #1a2432 !important;
  font-size: 21px !important;
  padding: 10px 10px !important;
  margin-left: 24px;
  color: #fff !important;
}
/*Стилизация чекбоксов*/
input[type="checkbox"] {
 display: none;
}

label {
  color: #fff;
  cursor: default;
  font-weight: normal;
  line-height: 16px;
  vertical-align: middle;
}

label:before {
 content: " ";
 display: inline-block;
 font: 14px/14px FontAwesome;
 margin-right: 10px;
 position: relative;
 text-align: center;
 text-indent: 0px;
 width: 15px;
 height: 15px;
 border: 1px solid #fff;
 border-image: initial;
 border-radius: 3px;
 color:#fff;
 margin-top: 20px;
 vertical-align: bottom;
}

input:checked + label:before {
/* глифон - галочка */
 content: "\f00c";
}

input:disabled + label:before {
 background: #eee;
 color: #aaa;
}

/*Фотогалерея*/
.photogallery {
  width: 100%;
  height: 1035px;
  background: url(../assets/photoback.png), #1a2632;
  background-position: top center;
  background-repeat: no-repeat;
}
.photogallery-inner {
  height: 100%;
  width: 55.5%;
  float: right;
  background:#0874b2;
  transition: 0.5s;
}
.photo-title {
  position: absolute;
  margin-left: -332px;
  margin-top: 190px;
  border-top: 1px dotted black;
  padding-top: 14px;
  width: 300px;
}
.photos {
  height: 100%;
  width: 675px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "pic1 pic2 pic3" "pic4 pic2 pic5" "pic6 pic6 pic7" "pic6 pic6 arrow";
  padding-top: 100px;
  padding-bottom: 55px;
  padding-right: 10px;
  transition: 0.5s;
}
.photos div {
  text-align: center;
  overflow: hidden;
  margin-right: 3px;
  margin-bottom: 3px;
}
.pic1 { grid-area: pic1; }
.pic2 { grid-area: pic2; }
.pic3 { grid-area: pic3; }
.pic4 { grid-area: pic4; }
.pic5 { grid-area: pic5; }
.pic6 { grid-area: pic6; }
.pic7 { grid-area: pic7; }
.pic8 { grid-area: pic8; }
.pic9 { grid-area: pic9; }
.pic10 { grid-area: pic10; }
.pic11 { grid-area: pic11; }
.arrow { grid-area: arrow; }
.arrow a {
  margin-top: 40%;
  display: block;
  transform: rotate(180deg);
  cursor: pointer;
}
.arrow img {
  transition: all 0.5s ease 0s;
}
.addpic {
  display: none;
}

/*Блок закладок*/
#tabs-section {
  width: 100%;
  background-color: #ecf0f6;
  /*background-image: url("../assets/docs-back.png");*/
  background-position: top center;
}
.tabs-section-inner {
  margin: auto;
  max-width: 1140px;
  padding-top: 105px;
}
/* Style the tab */
#tab {
  overflow: hidden;
  display: flex;
  border-radius: 27px;
}
#tab button {
  background-color: #87919a;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 30px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #fff;
  margin-bottom: 15px;
  position: relative;
  border-left: 1px solid #9a9ea8;
  border-right: 1px solid #87919a;
}
#tab button:first-child, #tab button:first-child:hover {
  border-left: none !important;
}
#tab button:last-child, #tab button:last-child:hover {
  border-right: none !important;
}
.tablinks {
  flex: 1;
}
#tab button:after {
  content: '';
  border: 12px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  bottom: -24px;
  width: 0;
  transition: 0.3s;
}
#tab button:hover:after {
  border-top: 12px solid #007bc0;
}
.tablinks:nth-child(4) {
  min-width: 23%;
}
.tablinks:first-child {
  border-radius: 27px 0px 0px 27px;
}
.tablinks:last-child {
  border-radius: 0px 27px 27px 0px;
}
#tab button.active, #tab button:hover {
  background-color: #007bc0;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
#tab button.active:after{
  border-top: 12px solid #007bc0;
}
.tabcontent {
  display: none;
  min-height: 500px;
}
button:focus {
  outline: none !important;
}

/*Kit tab*/
#kit {
  text-align: center;
  margin-top: 100px;
  min-height: 990px;
  background-image: url("../images/kit-back.png");
  background-position: center 8px;
  background-repeat: no-repeat;
  padding: 6px 12px;
}
.kit-detail {
  display: block;
  position: absolute;
}
.kit-detail:nth-child(1) {
  margin-top: 180px;
  margin-left: 120px;
}
.kit-detail:nth-child(2) {
  margin-top: 460px;
  margin-left: 90px;
}
.kit-detail:nth-child(3) {
  margin-top: 706px;
  margin-left: 205px;
}
.kit-detail:nth-child(4) {
  margin-top: 744px;
  margin-left: 468px;
}
.kit-detail:nth-child(5) {
  margin-top: 732px;
  margin-left: 731px;
}
.kit-detail:nth-child(6) {
  margin-top: 459px;
  margin-left: 819px;
}
.kit-detail:nth-child(7) {
  margin-top: 213px;
  margin-left: 816px;
}
.kit-detail:nth-child(1) p {
  margin-top: 17px;
}
.kit-detail:nth-child(2) p {
  margin-top: 30px;
}
.kit-detail:nth-child(3) p {
  margin-top: 7px;
}
.kit-detail:nth-child(4) p {
  margin-top: 45px;
}
.kit-detail:nth-child(5) p {
  margin-top: 34px;
}
.kit-detail:nth-child(6) p {
  margin-top: 33px;
}
.kit-detail:nth-child(7) p {
  margin-top: 50px;
}

/*features tab*/

#features h3 {
  font-size: 15px;
  line-height: 20px;
  color: #5a616a;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}
#features table {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
}
#features .container-fluid {
  padding: 0;
  margin-top: 20px;
}
.features-table td {
  padding: 7px 10px;
  width: 50%;
}
.features-table tr:nth-child(odd) td:nth-child(odd) {
  background-color: #0069ac;
}
.features-table tr:nth-child(even) td:nth-child(odd) {
  background-color: #007bc0;
}
.features-table tr:nth-child(odd) td:nth-child(even) {
  background-color: #919caa;
}
.features-table tr:nth-child(even) td:nth-child(even) {
  background-color: #9aa6b1;
}
.features-table td:nth-child(even) {
  border-top: 1px solid #aab6c0
}
.features-table td:nth-child(odd) {
  border-top: 1px solid #4387bd
}
#docs img {
  margin: auto;
  display: block;
  margin-top: 92px;
  max-width: 100%;
}
#docs {
  position: relative;
  min-height: 700px;
}
/*Parallax*/
#book1, #book2 {
  position: absolute;
}
#book1 {
  right: 10%;
}
#book2{
  left: 10%;
  top: 10%;
}
