body {
    font-family: 'Open Sans',sans-serif!important
}

header {
    background-color: #1a2432
}

.main-image,.product-header {
    height: 1455px;
    background-image: url(assets/header-background.png);
    background-position: center;
    background-repeat: no-repeat
}

nav ul li a,nav ul li a:after,nav ul li a:before {
    transition: all .5s;
    color: #fff
}

.download-block a:hover {
    color: #fff;
    text-decoration: none
}

nav.stroke ul li a:after {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #4272ae;
    height: 4px
}

header,nav.stroke ul li a:hover:after {
    width: 100%
}

.main-image {
    text-align: center;
    background-image: url(assets/main-image.png);
    height: 884px
}

.main-image h1 {
    margin-top: calc(50% - 150px);
    font-size: 86px;
    font-weight: 700;
    color: #fff;
    line-height: 80px
}

.price-block {
    max-width: 400px;
    height: 433px;
    position: relative;
    left: calc(50% - 572px);
    background: #007bc0;
    top: -207px;
    box-shadow: 6px 6px 15px -1px #4f4e4e87,-6px 6px 15px -1px #4f4e4e87;
    padding: 38px 58px
}

.callback,.price-images {
    display: flex;
    justify-content: space-around
}

.price-block hr {
    margin-top: 31px;
    border-top: 1px solid rgba(255,255,255,.5)
}

.price-block h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 2px
}

#price {
    color: #fff;
    font-size: 35px
}

.callback {
    margin-top: 38px;
    justify-content: space-between;
    height: 70px;
    align-items: flex-end
}

.callback-button {
    text-transform: uppercase;
    background-color: #1a2432!important;
    border-color: #1a2432!important;
    font-size: 21px!important;
    padding: 10px!important;
    color: #fff!important;
    height: max-content
}

.demo-button {
    background: url(assets/demo.png) no-repeat center bottom;
    border: 0;
    padding: 0;
    width: 53px;
    height: 70px
}

.demo-button:hover {
    background: url(assets/demo-active.png) no-repeat center bottom
}

[data-tooltip],label:before {
    position: relative
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 140px;
    left: 0;
    top: 2em;
    background: #ffe000;
    color: #1a2432;
    padding: .5em;
    pointer-events: none;
    opacity: 0;
    transition: .5s;
    border-radius: 7px;
    font-size: 15px
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 5em
}

input[type=checkbox] {
    display: none
}

label {
    color: #fff;
    cursor: default;
    font-weight: 400;
    line-height: 16px;
    vertical-align: middle
}

label:before {
    content: " ";
    display: inline-block;
    font: 14px/14px FontAwesome;
    margin-right: 10px;
    text-align: center;
    text-indent: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-image: initial;
    border-radius: 3px;
    color: #fff;
    margin-top: 20px;
    vertical-align: bottom
}

input:checked+label:before {
    content: "\f00c"
}

input:disabled+label:before {
    background: #eee;
    color: #aaa
}

#tabs-section,.photogallery {
    width: 100%;
    background-position: top center
}

.photogallery {
    height: 1035px;
    background: url(assets/photoback.png),#1a2632;
    background-repeat: no-repeat
}

.photogallery-inner {
    height: 100%;
    width: 55.5%;
    float: right;
    background: #0874b2;
    transition: .5s
}

.section-title {
    border-top: 1px dotted #000;
    padding-top: 14px;
    width: 300px;
    font-size: 16px;
    font-weight: 400
}

.photo-title {
    margin-left: -332px;
    position: absolute;
    margin-top: 190px
}

.photos {
    height: 100%;
    max-width: 675px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "pic1 pic2 pic3" "pic4 pic2 pic5" "pic6 pic6 pic7" "pic6 pic6 arrow";
    padding-top: 100px;
    padding-bottom: 55px;
    padding-right: 10px;
    transition: .5s
}

.photos div {
    text-align: center;
    overflow: hidden;
    margin-right: 3px;
    margin-bottom: 3px
}

.pic1 {
    grid-area: pic1
}

.pic2 {
    grid-area: pic2
}

.pic3 {
    grid-area: pic3
}

.pic4 {
    grid-area: pic4
}

.pic5 {
    grid-area: pic5
}

.pic6 {
    grid-area: pic6
}

.pic7 {
    grid-area: pic7
}

.pic8 {
    grid-area: pic8
}

.pic9 {
    grid-area: pic9
}

.pic10 {
    grid-area: pic10
}

.pic11 {
    grid-area: pic11
}

.arrow {
    grid-area: arrow
}

.arrow a {
    margin-top: 40%;
    display: block;
    transform: rotate(180deg);
    cursor: pointer
}

.arrow img {
    transition: all .5s ease 0s
}

.addpic {
    display: none
}

#tabs-section {
    background-color: #ecf0f6
}

.tabs-section-inner {
    margin: auto;
    max-width: 1140px;
    padding-top: 105px
}

#tab {
    overflow: hidden;
    display: flex;
    border-radius: 27px
}

#tab button {
    background-color: #87919a;
    float: left;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 30px 16px;
    transition: .3s;
    font-size: 17px;
    color: #fff;
    margin-bottom: 15px;
    position: relative;
    border-left: 1px solid #9a9ea8;
    border-right: 1px solid #87919a
}

#tab button:first-child,#tab button:first-child:hover {
    border-left: none!important
}

#tab button:last-child,#tab button:last-child:hover {
    border-right: none!important
}

.tablinks {
    flex: 1
}

#tab button:after {
    content: '';
    border: 12px solid transparent;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -24px;
    width: 0;
    transition: .3s
}

#tab button.active:after,#tab button:hover:after {
    border-top: 12px solid #007bc0
}

.tablinks:nth-child(4) {
    min-width: 23%
}

.tablinks:first-child {
    border-radius: 27px 0 0 27px
}

.tablinks:last-child {
    border-radius: 0 27px 27px 0
}

#tab button.active,#tab button:hover {
    background-color: #007bc0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff
}

.tabcontent {
    display: none;
    min-height: 500px
}

button:focus {
    outline: 0!important
}

#kit {
    text-align: center;
    margin-top: 100px;
    min-height: 1118px;
    padding: 6px 12px;
    position: relative
}

#kit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 0;
    background: url(images/kit-lines.png) no-repeat center 270px,url(images/kit-back.png) no-repeat center 8px
}

.kit-detail {
    display: block;
    position: absolute;
    z-index: 1
}

.kit-detail:nth-child(1) {
    margin-top: 167px;
    margin-left: 106px
}

.kit-detail:nth-child(2) {
    margin-top: 433px;
    margin-left: 90px
}

.kit-detail:nth-child(3) {
    margin-top: 706px;
    margin-left: 205px
}

.kit-detail:nth-child(4) {
    margin-top: 710px;
    margin-left: 468px
}

.kit-detail:nth-child(5) {
    margin-top: 710px;
    margin-left: 731px
}

.kit-detail:nth-child(6) {
    margin-top: 433px;
    margin-left: 819px
}

.kit-detail:nth-child(7) {
    margin-top: 168px;
    margin-left: 816px
}

.kit-detail p {
    margin-top: 10px
}

#benefits {
    padding-bottom: 40px
}

#benefits .container-fluid>.row {
    align-items: center;
    border-bottom: 1px solid #a2a2a2;
    padding: 30px 0!important
}

#benefits .row:last-child {
    border: 0
}

#benefits .col-xl-3,#features h3 {
    text-align: center
}

#benefits .col-xl-3 img {
    margin-bottom: 20px
}

#benefits p {
    text-align: justify
}

.galileo p,.wifi p {
    margin-bottom: 5px
}

#features h3 {
    font-size: 15px;
    line-height: 20px;
    color: #5a616a;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 50px
}

#features table {
    width: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 22px
}

#features .container-fluid {
    padding: 0;
    margin-top: 20px
}

.features-table td {
    padding: 7px 10px;
    width: 50%
}

.features-table tr:nth-child(odd) td:nth-child(odd) {
    background-color: #0069ac
}

.features-table tr:nth-child(even) td:nth-child(odd) {
    background-color: #007bc0
}

.features-table tr:nth-child(odd) td:nth-child(even) {
    background-color: #919caa
}

.features-table tr:nth-child(even) td:nth-child(even) {
    background-color: #9aa6b1
}

.features-table td:nth-child(even) {
    border-top: 1px solid #aab6c0
}

.features-table td:nth-child(odd) {
    border-top: 1px solid #4387bd
}

#docs {
    position: relative;
    min-height: 600px
}

#features {
    padding-bottom: 50px
}

#book1,#book2 {
    position: absolute;
    display: block;
    margin: 92px auto auto;
    max-width: 100%
}

#book1 {
    right: 10%;
    top: 10%
}

#book2 {
    left: 10%;
    top: 20%
}

.download-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 30px
}

.download-block {
    width: 335px;
    height: 159px;
    background-color: #007bc0;
    margin: 75% 20px 0;
    transition: .3s;
    background-image: url(assets/pdf.png);
    background-repeat: no-repeat;
    background-position: 21px center;
    box-sizing: content-box;
    border: 0 solid #007bc0;
    z-index: 3
}

.download-block:hover {
    transition: .3s;
    background-color: #4793bd
}

.download-block a {
    display: block;
    position: relative;
    top: 35%;
    left: 35%;
    color: #fff;
    text-decoration: none;
    width: 170px
}

.download-block span {
    font-size: 22px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2px 10px
}

.download-block hr {
    width: 80%;
    border-bottom: 1px dotted #fff;
    margin-top: 70px
}

.video-section {
    width: 100%;
    background: url(assets/video-back.png) no-repeat center
}

.video {
    display: flex;
    flex-direction: column
}

.video-title {
    margin-bottom: 45px;
    margin-top: 100px
}

.youtube-button {
    display: block;
    margin-top: 20px;
    background-image: url(assets/youtube-button.png);
    background-repeat: no-repeat;
    width: 165px;
    height: 26px
}

.youtube-button:hover {
    background-image: url(assets/youtube-button-hover.png)
}

.video-section .row {
    min-height: 875px;
    background: url(assets/video-back-product.png) no-repeat 650px bottom
}

#big-video,#small-video {
    border: 0
}

footer {
    width: 100%;
    background: #0874b2
}

footer .row {
    padding: 45px 0
}

footer h4,footer p {
    color: #fff;
    font-size: 16px
}

footer p {
    font-size: 14px;
    margin-top: 19px;
    line-height: 22px;
    width: 95%
}

@media (max-width:1200px) {
    .container-fluid {
        padding: 0!important
    }

    .header-logo {
        padding-top: 40px
    }

    nav ul {
        margin-top: 146px
    }

    .footer-stick {
        display: none
    }

    .footer-our-logo,.footer-stonex-logo {
        justify-content: center
    }

    .footer-about {
        text-align: justify
    }

    .footer-about,.footer-social {
        padding: 0 50px!important
    }

    .footer-about hr,.footer-about p {
        width: 100%
    }

    .social-block {
        justify-content: space-evenly
    }
}

@media (max-width:991px) {
    nav ul {
        margin-top: 75px;
        padding: 0 20px
    }

    .price-block {
        left: calc(50% - 200px);
        top: -310px
    }

    .photos {
        padding-right: 0;
        margin: auto
    }

    .photogallery-inner {
        width: 100%
    }

    .arrow {
        display: none
    }

    .photo-title {
        margin-top: 25px;
        margin-left: 30px;
        color: #fff;
        border-top: 1px dotted #fff
    }

    #tab {
        flex-direction: column;
        border-radius: 0
    }

    #tab button {
        margin-bottom: 3px;
        padding: 17px 16px
    }

    .tablinks {
        border-radius: 0!important
    }

    #tab button::after {
        content: none
    }

    #kit {
        background: 0 0;
        padding: 0
    }

    .kit-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "kit-detail kit-detail" "kit-detail kit-detail" "kit-detail kit-detail" "kit-detail kit-detail";
        background: 0 0
    }

    .kit-detail {
        position: inherit;
        margin: 0!important
    }

    .kit-detail img {
        max-width: 100%
    }

    .video {
        margin: 20px
    }

    .video-section .row {
        background: 0 0;
        position: relative;
        z-index: 1
    }

    .video-section .row::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .4;
        z-index: -1;
        background: url(assets/video-back-product.png) no-repeat bottom right
    }

    .download-wrapper {
        flex-direction: column
    }

    .download-block {
        z-index: 3
    }

    .download-block,.download-block:hover {
        margin: 60px auto 20px
    }

    #book1,#book2 {
        display: none
    }

    #kit::before {
        background: url(images/kit-back.png) no-repeat center 100px;
        opacity: .2
    }

    #tab button.active,#tab button:hover {
        border: 0
    }

    .header-logo {
        text-align: center
    }
}

@media (max-width:576px) {
    .main-image h1 {
        margin-top: 40%;
        font-size: 60px;
        -webkit-text-stroke: 1px #000
    }

    .footer-about {
        text-align: justify
    }

    .footer-about,.footer-social {
        padding: 0 20px!important
    }

    .footer-stonex-logo {
        margin: 30px 0
    }

    #big-video {
        width: 100%
    }

    #features .col-xl-6 {
        padding: 0
    }
}

@media (max-width:400px) {
    .main-image {
        background-size: 535px;
        background-position: top
    }

    .price-block {
        left: 0;
        top: -400px
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        margin-top: 20px
    }

    nav li {
        margin-bottom: 10px
    }

    .header-search {
        display: none
    }
}

.row {
    max-width: 1140px;
    margin: auto!important
}

.header-contact {
    background-color: #4273ae;
    display: flex;
    justify-content: center
}

.header-email,.header-phone {
    color: #fff;
    padding: 13px 10px 11px 38px;
    font-size: 15.2px;
    background-repeat: no-repeat
}

.header-email a,.header-email a:hover,.header-phone a,.header-phone a:hover,nav ul li a:hover {
    color: inherit;
    text-decoration: none
}

.header-email {
    background-image: url(assets/email.png);
    background-position: 15px 21px;
    border-right: 1px solid #618cbf;
    width: 163px
}

.header-phone {
    background-image: url(assets/phone.png);
    background-position: 17px 18px;
    padding-left: 39px;
    width: 170px
}

.header-search {
    padding: 10px;
    background-color: #000;
    width: 47px;
    height: 47px;
    vertical-align: top;
    background-image: url(assets/search.png);
    background-repeat: no-repeat;
    background-position: 58% 50%;
    cursor: pointer
}

.breadcrumbs ul,nav ul {
    display: flex;
    list-style: none
}

nav ul {
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-top: 106px
}

nav ul li a:hover {
    color: #fff
}

nav.stroke ul li a {
    position: relative
}

.breadcrumbs ul {
    padding-left: 0;
    border-top: 1px dotted #fff;
    margin-top: 80px;
    font-size: 14px;
    padding-top: 5px
}

.breadcrumbs li::before {
    content: url(assets/breadcrumb-arrow.png);
    float: left;
    width: 1.4em;
    text-align: center
}

.breadcrumbs li:first-child::before {
    display: none
}

.breadcrumbs a {
    color: #505c68;
    text-decoration: none
}

.active-page a,.active-page a:hover,.breadcrumbs a:hover {
    color: #fff
}

#contact-map {
    width: calc(50% + 570px);
    margin-left: calc(50% - 570px);
    min-height: 920px;
    background-image: url(assets/map-back.png);
    background-repeat: no-repeat;
    background-position: 87px -218px;
    position: relative
}

#contact-map h3 {
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    display: inline;
    text-align: center
}

#contact-map h3::before {
    content: "\2022";
    font-size: 35px;
    line-height: 15px;
    vertical-align: middle
}

#msk-map {
    position: absolute;
    width: 183px;
    height: 200px;
    top: 338px;
    left: 210px;
    background-image: url(assets/msk-back.png);
    z-index: 2
}

#msk-map h3 {
    position: relative;
    top: 55px;
    left: 78px
}

#klg-map,#spb-map {
    position: absolute;
    width: 195px;
    height: 183px;
    top: 183px;
    left: 230px;
    background-image: url(assets/spb-back.png);
    z-index: 1
}

#klg-map h3,#spb-map h3 {
    position: relative;
    top: 70px;
    left: 76px
}

#klg-map {
    width: 156px;
    height: 117px;
    top: 196px;
    left: 38px;
    background-image: url(assets/klg-back.png);
    z-index: 3
}

#klg-map h3 {
    top: 59px;
    left: 101px
}

.hidden-map {
    background-image: none!important
}

.info-map {
    opacity: 1;
    transition: 1s;
    z-index: 1
}

.hidden-info {
    opacity: 0;
    z-index: 0
}

.info-map {
    width: 460px;
    height: 636px;
    background: #fff;
    position: absolute;
    top: 174px;
    left: 617px;
    border-radius: 7px;
    padding: 23px
}

.office-p {
    color: #ea0000;
    margin-top: 6px;
    margin-bottom: 16px!important
}

.info-map h2 {
    font-size: 26px;
    margin-bottom: 47px
}

.info-phone,.info-position {
    font-size: 17px;
    margin-bottom: 6px
}

.info-map p img {
    margin-right: 9px
}

.metro-title {
    font-size: 16px;
    color: #767978;
    margin-top: 32px;
    margin-bottom: 13px
}

.metro-buttons {
    display: flex;
    justify-content: space-between
}

.metro-button {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 4px 27px 4px 47px;
    background-image: url(assets/metro.png);
    background-repeat: no-repeat;
    background-position: 19px center;
    font-size: 17px;
    cursor: pointer
}

#spb-info .metro-button {
    background-image: url(assets/metro-spb.png)
}

.metro-button-active {
    background-image: url(assets/metro-active.png);
    background-color: #ea0000;
    border-color: #ea0000;
    color: #fff
}

.metro-button span {
    font-weight: 600
}

.info-map-img {
    margin-top: 25px;
    width: 100%
}

.disactive {
    display: none
}

.yandex-map {
    margin-bottom: -6px
}

.footer-our-logo,.footer-stonex-logo {
    align-items: baseline;
    display: flex
}

.footer-our-logo img,.footer-stonex-logo img {
    vertical-align: baseline
}

.footer-about hr,.footer-social hr {
    border-top: 1px solid #fff;
    margin-top: 5px
}

.footer-about hr {
    width: 87%;
    margin-left: 0
}

.footer-social hr {
    margin-right: 0
}

.footer-about a,.footer-about span {
    color: #182532
}

.footer-about a:hover {
    color: #fff;
    text-decoration: none
}

.footer-social {
    padding-left: 38px!important
}

.social-block {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 40px
}

.social-block a:hover {
    filter: grayscale(100%)
}

.footer-social p {
    font-size: 11px
}

.footer-stick {
    margin-left: 23px
}

.delivery section {
    background-color: #1a2432
}

.delivery h1 {
    color: #fff;
    font-size: 30px;
    margin-top: 50px
}

.delivery h2 {
    color: #fff;
    font-size: 18px;
    margin-top: 80px
}

.delivery h3 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 29px;
}

.number {
  color: #fff;
  font-size: 48px;
  font-weight: 200;
  background-color: #0874b2;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  margin: auto;
  margin-top: 83px;
}

.number1 {
  background-image: url("assets/delivery-back1.png");
  min-height: 753px;
  background-repeat: no-repeat;
  background-position: center 150px;
}

.number2 {
  background-image: url("assets/delivery-back2.png");
  min-height: 771px;
  background-repeat: no-repeat;
  background-position: center 170px;
}

.number3 {
  background-image: url("assets/delivery-back3.png");
  min-height: 753px;
  background-repeat: no-repeat;
  background-position: center 197px;
}

.number1 p, .number2 p, .number3 p {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.number1 p {
  margin-top: 337px;
}

.number2 p {
  margin-top: 374px;
}

.number3 p {
  margin-top: 413px;
}

.delivery-phone {
  color: #0874b2;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding-top: 52px;
  background-image: url("assets/delivery-phone.png");
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 75px;
}
