body {
    font-family: 'Open Sans',sans-serif!important
}

header {
    background-color: #1a2432
}

.main-image,.product-header {
    height: 1455px;
    background-position: center;
    background-repeat: no-repeat
}

nav ul li a,nav ul li a:after,nav ul li a:before {
    transition: all .5s;
    color: #fff
}

.download-block a:hover {
    color: #fff;
    text-decoration: none
}

nav.stroke ul li a:after {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #4272ae;
    height: 4px
}

header,nav.stroke ul li a:hover:after, header,nav.stroke ul li a:focus:after {
    width: 100%
}

.main-image {
    text-align: center;
}

.main-image h1 {
    margin-top: calc(50% - 150px);
    font-size: 86px;
    font-weight: 700;
    color: #fff;
    line-height: 80px
}

.price-block {
    max-width: 400px;
    height: 433px;
    position: relative;
    left: calc(50% - 572px);
    background: #007bc0;
    box-shadow: 6px 6px 15px -1px #4f4e4e87,-6px 6px 15px -1px #4f4e4e87;
    padding: 38px 58px
}

.callback,.price-images {
    display: flex;
    justify-content: space-around
}

.price-block hr {
    margin-top: 31px;
    border-top: 1px solid rgba(255,255,255,.5)
}

.price-block h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 2px
}

#price {
    color: #fff;
    font-size: 35px
}

.callback {
    margin-top: 38px;
    justify-content: space-between;
    height: 70px;
    align-items: flex-end
}

#callback-button {
    text-transform: uppercase;
    background-color: #1a2432!important;
    border-color: #1a2432!important;
    font-size: 21px!important;
    padding: 10px!important;
    color: #fff!important;
    height: max-content
}

.demo-button {
    background: url(assets/demo.png) no-repeat center bottom;
    border: 0;
    padding: 0;
    width: 53px;
    height: 70px
}

.demo-button:hover {
    background: url(assets/demo-active.png) no-repeat center bottom
}

[data-tooltip],label:before {
    position: relative
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 140px;
    left: 0;
    top: 2em;
    background: #ffe000;
    color: #1a2432;
    padding: .5em;
    pointer-events: none;
    opacity: 0;
    transition: .5s;
    border-radius: 7px;
    font-size: 15px
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 5em
}

input[type=checkbox] {
    display: none
}

label {
    color: #fff;
    cursor: default;
    font-weight: 400;
    line-height: 16px;
    vertical-align: middle
}

label:before {
    content: " ";
    display: inline-block;
    font: 14px/14px FontAwesome;
    margin-right: 10px;
    text-align: center;
    text-indent: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-image: initial;
    border-radius: 3px;
    color: #fff;
    margin-top: 20px;
    vertical-align: bottom
}

input:checked+label:before {
    content: "\f00c"
}

input:disabled+label:before {
    background: #eee;
    color: #aaa
}

#tabs-section,.photogallery {
    width: 100%;
    background-position: top center
}

.photogallery {
    height: 1035px;
    background-repeat: no-repeat
}

.photogallery-inner {
    height: 100%;
    width: 55.5%;
    float: right;
    background: #0874b2;
    transition: .5s
}

.section-title {
    border-top: 1px dotted #000;
    padding-top: 14px;
    width: 300px;
    font-size: 16px;
    font-weight: 400
}

.photo-title {
    margin-left: -332px;
    position: absolute;
    margin-top: 190px
}

.photos {
    height: 100%;
    max-width: 675px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "pic1 pic2 pic3" "pic4 pic2 pic5" "pic6 pic6 pic7" "pic6 pic6 arrow";
    padding-top: 100px;
    padding-bottom: 55px;
    padding-right: 10px;
    transition: .5s
}

.photos div {
    text-align: center;
    overflow: hidden;
    margin-right: 3px;
    margin-bottom: 3px
}

.pic1 {
    grid-area: pic1
}

.pic2 {
    grid-area: pic2
}

.pic3 {
    grid-area: pic3
}

.pic4 {
    grid-area: pic4
}

.pic5 {
    grid-area: pic5
}

.pic6 {
    grid-area: pic6
}

.pic7 {
    grid-area: pic7
}

.pic8 {
    grid-area: pic8
}

.pic9 {
    grid-area: pic9
}

.pic10 {
    grid-area: pic10
}

.pic11 {
    grid-area: pic11
}

.arrow {
    grid-area: arrow
}

.arrow a {
    margin-top: 40%;
    display: block;
    transform: rotate(180deg);
    cursor: pointer
}

.arrow img {
    transition: all .5s ease 0s
}

.addpic {
    display: none
}

#tabs-section {
    background-color: #ecf0f6
}

.tabs-section-inner {
    margin: auto;
    max-width: 1140px;
    padding-top: 105px
}

#tab {
    overflow: hidden;
    display: flex;
    border-radius: 27px
}

#tab button {
    background-color: #87919a;
    float: left;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 30px 16px;
    transition: .3s;
    font-size: 17px;
    color: #fff;
    margin-bottom: 15px;
    position: relative;
    border-left: 1px solid #9a9ea8;
    border-right: 1px solid #87919a
}

#tab button:first-child,#tab button:first-child:hover {
    border-left: none!important
}

#tab button:last-child,#tab button:last-child:hover {
    border-right: none!important
}

.tablinks {
    flex: 1
}

#tab button:after {
    content: '';
    border: 12px solid transparent;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -24px;
    width: 0;
    transition: .3s
}

#tab button.active:after,#tab button:hover:after {
    border-top: 12px solid #007bc0
}

.tablinks:nth-child(4) {
    min-width: 23%
}

.tablinks:first-child {
    border-radius: 27px 0 0 27px
}

.tablinks:last-child {
    border-radius: 0 27px 27px 0
}

#tab button.active,#tab button:hover {
    background-color: #007bc0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff
}

.tabcontent {
    display: none;
    min-height: 500px
}

button:focus {
    outline: 0!important
}

#kit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 0;
}


.kit-detail p {
    margin-top: 10px
}

#benefits {
    padding-bottom: 40px
}

#benefits .container-fluid>.row {
    align-items: center;
    border-bottom: 1px solid #a2a2a2;
    padding: 30px 0!important
}

#benefits .row:last-child {
    border: 0
}

#benefits .col-xl-3,#features h3 {
    text-align: center
}

#benefits .col-xl-3 img {
    margin-bottom: 20px
}

#benefits p {
    text-align: justify
}

.galileo p,.wifi p {
    margin-bottom: 5px
}

#features h3 {
    font-size: 15px;
    line-height: 20px;
    color: #5a616a;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 50px
}

#features table {
    width: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 22px
}

#features .container-fluid {
    padding: 0;
    margin-top: 20px
}

.features-table td {
    padding: 7px 10px;
    width: 50%
}

.features-table tr:nth-child(odd) td:nth-child(odd) {
    background-color: #0069ac
}

.features-table tr:nth-child(even) td:nth-child(odd) {
    background-color: #007bc0
}

.features-table tr:nth-child(odd) td:nth-child(even) {
    background-color: #919caa
}

.features-table tr:nth-child(even) td:nth-child(even) {
    background-color: #9aa6b1
}

.features-table td:nth-child(even) {
    border-top: 1px solid #aab6c0
}

.features-table td:nth-child(odd) {
    border-top: 1px solid #4387bd
}

#docs {
    position: relative;
    min-height: 600px
}

#features {
    padding-bottom: 50px
}

#book1,#book2 {
    position: absolute;
    display: block;
    margin: 92px auto auto;
    max-width: 100%
}

#book1 {
    right: 10%;
    top: 10%
}

#book2 {
    left: 10%;
    top: 20%
}

.download-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 30px
}

.download-block {
    width: 335px;
    height: 159px;
    background-color: #007bc0;
    margin: 75% 20px 0;
    transition: .3s;
    background-image: url(assets/pdf.png);
    background-repeat: no-repeat;
    background-position: 21px center;
    box-sizing: content-box;
    border: 0 solid #007bc0;
    z-index: 3
}

.download-block:hover {
    transition: .3s;
    background-color: #4793bd
}

.download-block a {
    display: block;
    position: relative;
    top: 35%;
    left: 35%;
    color: #fff;
    text-decoration: none;
    width: 170px
}

.download-block span {
    font-size: 22px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2px 10px
}

.download-block hr {
    width: 80%;
    border-bottom: 1px dotted #fff;
    margin-top: 70px
}

.video-section {
    width: 100%;
}

.video {
    display: flex;
    flex-direction: column
}

.video-title {
    margin-bottom: 45px;
    margin-top: 100px
}

.youtube-button {
    display: block;
    margin-top: 20px;
    background-image: url(assets/youtube-button.png);
    background-repeat: no-repeat;
    width: 165px;
    height: 26px
}

.youtube-button:hover {
    background-image: url(assets/youtube-button-hover.png)
}
.video-section .row {
    min-height: 875px;
}

#big-video,#small-video {
    border: 0
}

footer {
    width: 100%;
    background: #0874b2
}

footer .row {
    padding: 45px 0
}

footer h4,footer p {
    color: #fff;
    font-size: 16px
}

footer p {
    font-size: 14px;
    margin-top: 19px;
    line-height: 22px;
    width: 95%
}



.row {
    max-width: 1140px;
    margin: auto!important
}

.header-contact {
    background-color: #4273ae;
    display: flex;
    justify-content: center
}

.header-email,.header-phone {
    color: #fff;
    padding: 13px 10px 11px 38px;
    font-size: 15.2px;
    background-repeat: no-repeat
}

.header-email a,.header-email a:hover,.header-phone a,.header-phone a:hover,nav ul li a:hover {
    color: inherit;
    text-decoration: none
}

.header-email {
    background-image: url(assets/email.png);
    background-position: 15px 21px;
    border-right: 1px solid #618cbf;
    width: 163px
}

.header-phone {
    background-image: url(assets/phone.png);
    background-position: 17px 18px;
    padding-left: 39px;
    width: 170px
}

.header-search {
    padding: 10px;
    background-color: #000;
    width: 47px;
    height: 47px;
    vertical-align: top;
    background-image: url(assets/search.png);
    background-repeat: no-repeat;
    background-position: 58% 50%;
    cursor: pointer
}

.breadcrumbs ul,nav ul {
    display: flex;
    list-style: none
}

nav ul {
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-top: 106px
}

nav ul li a:hover {
    color: #fff
}

nav.stroke ul li a {
    position: relative
}

.breadcrumbs ul {
    padding-left: 0;
    border-top: 1px dotted #fff;
    margin-top: 80px;
    font-size: 14px;
    padding-top: 5px
}

.breadcrumbs li::before {
    content: url(assets/breadcrumb-arrow.png);
    float: left;
    width: 1.4em;
    text-align: center
}

.breadcrumbs li:first-child::before {
    display: none
}

.breadcrumbs a {
    color: #505c68;
    text-decoration: none
}

.active-page a,.active-page a:hover,.breadcrumbs a:hover {
    color: #fff
}

#contact-map {
    width: calc(50% + 570px);
    margin-left: calc(50% - 570px);
    min-height: 920px;
    background-image: url(assets/map-back.png);
    background-repeat: no-repeat;
    background-position: 87px -218px;
    position: relative
}

#contact-map h3 {
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    display: inline;
    text-align: center
}

#contact-map h3::before {
    content: "\2022";
    font-size: 35px;
    line-height: 15px;
    vertical-align: middle
}

#msk-map {
    position: absolute;
    width: 183px;
    height: 200px;
    top: 338px;
    left: 210px;
    background-image: url(assets/msk-back.png);
    z-index: 2
}

#msk-map h3 {
    position: relative;
    top: 55px;
    left: 78px
}

#klg-map,#spb-map {
    position: absolute;
    width: 195px;
    height: 183px;
    top: 183px;
    left: 230px;
    background-image: url(assets/spb-back.png);
    z-index: 1
}

#klg-map h3,#spb-map h3 {
    position: relative;
    top: 70px;
    left: 76px
}

#klg-map {
    width: 156px;
    height: 117px;
    top: 196px;
    left: 38px;
    background-image: url(assets/klg-back.png);
    z-index: 3
}

#klg-map h3 {
    top: 59px;
    left: 101px
}

.hidden-map {
    background-image: none!important
}

.info-map {
    opacity: 1;
    transition: 1s;
    z-index: 1
}

.hidden-info {
    opacity: 0;
    z-index: 0
}

.info-map {
    width: 460px;
    height: 636px;
    background: #fff;
    position: absolute;
    top: 174px;
    left: 617px;
    border-radius: 7px;
    padding: 23px
}

.office-p {
    color: #ea0000;
    margin-top: 6px;
    margin-bottom: 16px!important
}

.info-map h2 {
    font-size: 26px;
    margin-bottom: 47px
}

.info-phone,.info-position {
    font-size: 17px;
    margin-bottom: 6px
}

.info-map p img {
    margin-right: 9px
}

.metro-title {
    font-size: 16px;
    color: #767978;
    margin-top: 32px;
    margin-bottom: 13px
}

.metro-buttons {
    display: flex;
    justify-content: space-between
}

.metro-button {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 4px 27px 4px 47px;
    background-image: url(assets/metro.png);
    background-repeat: no-repeat;
    background-position: 19px center;
    font-size: 17px;
    cursor: pointer
}

#spb-info .metro-button {
    background-image: url(assets/metro-spb.png)
}

.metro-button-active {
    background-image: url(assets/metro-active.png);
    background-color: #ea0000;
    border-color: #ea0000;
    color: #fff
}

.metro-button span {
    font-weight: 600
}

.info-map-img {
    margin-top: 25px;
    width: 100%
}

.disactive {
    display: none
}

.yandex-map {
    margin-bottom: -6px
}

.footer-our-logo,.footer-stonex-logo {
    align-items: baseline;
    display: flex
}

.footer-our-logo img,.footer-stonex-logo img {
    vertical-align: baseline
}

.footer-about hr,.footer-social hr {
    border-top: 1px solid #fff;
    margin-top: 5px
}

.footer-about hr {
    width: 87%;
    margin-left: 0
}

.footer-social hr {
    margin-right: 0
}

.footer-about a,.footer-about span {
    color: #182532
}

.footer-about a:hover {
    color: #fff;
    text-decoration: none
}

.footer-social {
    padding-left: 38px!important
}

.social-block {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 40px
}

.social-block a:hover {
    filter: grayscale(100%)
}

.footer-social p {
    font-size: 11px
}

.footer-stick {
    margin-left: 23px
}

.delivery section {
    background-color: #1a2432
}

.delivery h1, .contacts h1 {
    color: #fff;
    font-size: 30px;
    margin-top: 50px
}
.contacts h1 {
  position: absolute;
}

.delivery h2 {
    color: #fff;
    font-size: 18px;
    margin-top: 80px
}

.delivery h3 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 29px;
}

.number {
  color: #fff;
  font-size: 48px;
  font-weight: 200;
  background-color: #0874b2;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  margin: auto;
  margin-top: 83px;
}

.number1 {
  background-image: url("assets/delivery-back1.png");
  min-height: 753px;
  background-repeat: no-repeat;
  background-position: center 150px;
}

.number2 {
  background-image: url("assets/delivery-back2.png");
  min-height: 771px;
  background-repeat: no-repeat;
  background-position: center 170px;
}

.number3 {
  background-image: url("assets/delivery-back3.png");
  min-height: 753px;
  background-repeat: no-repeat;
  background-position: center 197px;
}

.number1 p, .number2 p, .number3 p {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.number1 p {
  margin-top: 337px;
}

.number2 p {
  margin-top: 374px;
}

.number3 p {
  margin-top: 413px;
}

.delivery-phone {
  color: #0874b2;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding-top: 52px;
  background-image: url("assets/delivery-phone.png");
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 75px;
}

#message-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(35, 42, 53, 0.9);
  z-index: 10;
}
#message-block {
  position: relative;
  max-width: 945px;
  height: 675px;
  background: #007bbf;
  margin: auto;
  display: block;
  margin-top: 171px;
  padding: 95px;
}
.message-back {
  position: absolute;
  right: -8px;
  top: -171px;
}
#message-block h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 45px;
}
#form-file-message p {
  color: #fff;
  word-wrap: anywhere;
  font-size: 14px;
}
#message-block p{
  color: #fff;
}

#file-wrapper {
  position: relative;
  width: 170px;
  height: 110px;
  float: right;
}
#form-file-message {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #253b4f;
  outline: 2px dashed rgba(255,255,255,0.8);
  outline-offset: -10px;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#form-file {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
#form-name {
  width: 100%;
}
#form-email, #form-phone {
  width: 93%;
}
#form-email, #form-phone, #form-name {
  height: 40px;
  margin-bottom: 30px;
  background-color: #253b4f;
  color: #fff;
  border: 0;
  padding: 0 15px;
}
#form-email:focus, #form-phone:focus, #form-name:focus{
  border: 1px solid #fff;
}
#form-submit {
  border: 0;
  background-color: #fff;
  color: #007bbf;
  padding: 10px 15px 10px 40px;
  font-size: 19px;
  font-weight: 600;
  border-radius: 3px;
  background-image: url("assets/send.png");
  background-repeat: no-repeat;
  background-position: 13px center;
}
.form-footer p{
  margin-bottom: 8px;
}
.form-footer a, .form-footer a:hover{
  text-decoration: none;
  color: #fff
}
.form-footer div {
  border-top: 1px solid #fff;
  margin-top: 60px;
  padding-top: 30px;
}
#catalog-menu {
  width: 714px;
  background: #ecf1f4;
  position: absolute;
  z-index: 2;
  left: -115px;
  margin-top: 15px;
  padding: 15px;
}
#catalog-menu > p {
  padding-left: 13px;
  margin-top: 10px;
  display: inline-block;
  background: #ecf1f4;
  position: relative;
}
#catalog-menu hr {
  margin-top: -23px;
  width: 100%;
  margin-bottom: -10px;
}
#catalog-menu:after {
  content: '';
  border: 12px solid transparent;
  position: absolute;
  left: 26%;
  top: -24px;
  width: 0;
  transition: .3s;
  border-bottom: 12px solid #ecf1f4;
}
#gnss-menu, #collector-menu {
  display: flex;
  justify-content: space-around;
}
#gnss-menu a, #collector-menu a {
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 21px;
  margin: 0 5px;
}
#gnss-menu a:hover, #collector-menu a:hover {
  color: #0c72b1;
}
#gnss-menu a p, #collector-menu a p {
  margin-top: 7px;
}
.compare-section {
  background: #e2e9ef;
}
.compare-wrapper {
  max-width: 1140px;
  margin: auto;
}
.compare-wrapper table {
  border-spacing: 30px 0px;
  border-collapse: separate;
  margin: 0px -30px;
  table-layout: fixed;
}
.compare-wrapper table p {
  margin: 0;
}
.compare-wrapper table td {
  padding: 10px 10px;
  border-bottom: 1px solid #c8c8c8;
  font-size: 14px;
  cursor: pointer;
}
.compare-wrapper table tr, .compare-wrapper table tr:first-child td  {
  text-align: center;
}
.compare-wrapper table tr:nth-child(n+3):hover td {
  background-color: #3767a2 !important;
  color: #fff;
  transition: 0.2s;
}
.s700a, .s800a, .s850a, .s980, .s990a, .s900a, .s900 {
  background-color: #457abb;
  width: 262px;
  color: #fff;
}
.main {
  background-color: #fff;
  width: 260px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}
.s980, .s990a, .s900a, .s900 {
  display: none;
}
